.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;

    color: #022B3A;
    font-size: 2rem;

    h1 {
        margin: 0;
    }
}
